<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

 

<div class="row">
    <div class="col-md-12">   
        
    <div class="reference clearfix"> 
                
             <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Principal Projects</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
    
            <ul>

                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p>  Administrative intranet for estatal retire found. Replace for old system. Grails, SQL Server, JQuery, Kendo UI, Kubernates-Docker  </p>
                    <span>SEDAR (2017...)</span>
                </li>


                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p> Corpotative portal MI Cuenta IPEJAL.  Asp MVC C#, SQL Server, JQuery, Bootstrap, Telerik ASP </p>
                    <span>IPEJAL-SEDAR (2016)</span>
                </li>


                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p>  Automatión of voluntary contributions for payroll for estatal retire found escrow</p>
                    <span>SEDAR (2012)</span>
                </li>


                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p> Administrative system for estatal retire found (SAIS).  C# Winform, SQL Server </p>
                    <span>SEDAR (2008-...)</span>
                </li>

                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p>Extranet for receive and managment pension contributions and credit paymens and discounts. Using Asp NET, SQL Server </p>
                    <span>IPEJAL-SEDAR (2008-2010)</span>
                </li>

                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p>Intranet for property managment. Using PHP, MySQL. </p>
                    <span>Hudson Advisors México (2005)</span>
                </li>

                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p>Intranet for property managment. Using PHP, MySQL. </p>
                    <span>Hudson Advisors México (2005)</span>
                </li>

                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p>Insurance Simulator for Palm Pilot and Flash. Technologies : C++ and Flash with actions script.”</p>
                    <span>BMI Company, Florida USA (2003)</span>
                </li>
                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p>Portal and first online Radio in Guadalajara M{exico. PHP, ShoutCast</p>
                    <span>Superstereo, Mex (2002)</span>               
                </li>
                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p> Guadalajara en línea, commercial portal. PHP, MYSQL </p>
                    <span>Aztronet Digital (2001)</span>
                </li>

                <li class="clearfix">
                    <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                    <p> Online newspaper generation  from quark system.  Visual Basic, Ms Access and Quark System </p>
                    <span>El Informador (2000)</span>
                </li>

            </ul>
    </div>
    </div>
    
         
    <div style="clear: both"></div>   
    </div>

    
</div>
<!-- End .portfolio -->