<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Education and Experence</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6 resume-left">

           <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">

            <li class="first">
                <h5>MSc Applied Data Science <span class="duration"><i class="fa fa-calendar color"></i> 2021 - 2022</span></h5>
                <h6><span class="fa fa-book"></span> IEXE University</h6>
            </li>
            <li class="first">
                <h5>BMath Teaching <span class="duration"><i class="fa fa-calendar color"></i> 2019 - Present</span></h5>
                <h6><span class="fa fa-book"></span> UNADM University</h6>
            </li>

            <li class="first">
                <h5>Master of IT Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2021 - Present</span></h5>
                <h6><span class="fa fa-book"></span> IEXE University</h6>
            </li>

            <li>
                <h5>Bachelor of TI Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2018 - 2021</span></h5>
                <h6><span class="fa fa-book"></span> UVEG University</h6>
            </li>

            <li>
                <h5>Bachelor Telematica (6 semestres) <span class="duration"><i class="fa fa-calendar color"></i> 2014 - 2017</span></h5>
                <h6><span class="fa fa-book"></span> UNADM University</h6>
            </li>

            <li>
                <h5>Bachillerato en Informática <span class="duration"><i class="fa fa-calendar color"></i> 1992 - 1996</span></h5>
                <h6><span class="fa fa-book"></span> Instituto Aspe</h6>
            </li>


        </ul>
        <!-- /.attributes -->
        <br>  
        
         <!-- .title_content -->
         <div class="title_content" style="float: none;">
            <div class="text_content">Courses </div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">


            <ul class="attributes">
                <li>
                    <h5>Lean Six Sigma Data Analysis<span class="duration"><i class="fa fa-calendar color"></i> 2020</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Amsterdam University (Coursera)</h6>
                    <p></p>
                </li>
            </ul>


            <ul class="attributes">
                <li>
                    <h5>OpenShift Administration (DO280)<span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                    <h6><span class="fa fa-briefcase"></span> RedHat</h6>
                    <p></p>
                </li>
            </ul>

            <ul class="attributes">
                <li>
                    <h5>OpenShift : Developing and Deploying Applications  (DO290R)<span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                    <h6><span class="fa fa-briefcase"></span> RedHat</h6>
                    <p></p>
                </li>
            </ul>

            <ul class="attributes">
                <li>
                    <h5>Openshift : Containerizing Applications   (DO288)<span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                    <h6><span class="fa fa-briefcase"></span> RedHat</h6>
                    <p></p>
                </li>
            </ul>


            <ul class="attributes">
                <li>
                    <h5>Computational Investing <span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Georgia  Tech (Coursera)</h6>
                    <p></p>
                </li>
            </ul>

            <ul class="attributes">
                <li>
                    <h5>Process Mining<span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                    <h6><span class="fa fa-briefcase"></span>  Eindhoven University of Technology (Coursera)</h6>
                    <p></p>
                </li>
            </ul>


            <ul class="attributes">
                <li>
                    <h5> Java para Android <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                    <h6><span class="fa fa-briefcase"></span>  Mexico University - UNAM (Coursera)</h6>
                    <p></p>
                </li>
            </ul>


            <ul class="attributes">
                <li>
                    <h5> Android Introduction <span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                    <h6><span class="fa fa-briefcase"></span>  Mexico University - UNAM (Coursera)</h6>
                    <p></p>
                </li>
            </ul>


            <ul class="attributes">
                <li>
                    <h5>  Oracle Data Warehouse <span class="duration"><i class="fa fa-calendar color"></i> 2012</span></h5>
                    <h6><span class="fa fa-briefcase"></span>  Oracle</h6>
                    <p></p>
                </li>
            </ul>

            <ul class="attributes">
                <li>
                    <h5>  Oracle Soa Suite<span class="duration"><i class="fa fa-calendar color"></i> 2012</span></h5>
                    <h6><span class="fa fa-briefcase"></span>  Oracle</h6>
                    <p></p>
                </li>
            </ul>
            
            <ul class="attributes">
                <li>
                    <h5>  Análisis Orientado a Objetos con UML <span class="duration"><i class="fa fa-calendar color"></i> 2009</span></h5>
                    <h6><span class="fa fa-briefcase"></span>  Milestone</h6>
                    <p></p>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-md-6 resume-left">    

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>TI Innovation Chief <span class="duration"><i class="fa fa-calendar color"></i> 2018 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span> IPEJAL</h6>
                <p></p>
            </li>
            <li>
                <h5>Senior Developer <span class="duration"><i class="fa fa-calendar color"></i> 2008 - 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> SEDAR (IPEJAL)</h6>
                <p></p>
            </li>

            <li>
                <h5>Software Engenieer <span class="duration"><i class="fa fa-calendar color"></i> 2006 - 2008</span></h5>
                <h6><span class="fa fa-briefcase"></span> Hudson Advisors México / Atchi</h6>
                <p></p>
            </li>

            <li>
                <h5>Web Master <span class="duration"><i class="fa fa-calendar color"></i> 2003 - 2007</span></h5>
                <h6><span class="fa fa-briefcase"></span> LAMAR University</h6>
                <p></p>
            </li>

            <li>
                <h5>System Gerent <span class="duration"><i class="fa fa-calendar color"></i> 2001 - 2006</span></h5>
                <h6><span class="fa fa-briefcase"></span> Aztronet Digital (Multimadia Agency)</h6>
                <p></p>
            </li>
            <li>
                <h5>Web Master  <span class="duration"><i class="fa fa-calendar color"></i> 1998 - 2000</span></h5>
                <h6><span class="fa fa-briefcase"></span> El Informador (Newspaper)</h6>
                <p></p>
            </li>

            <li>
                <h5>IT Support & Development <span class="duration"><i class="fa fa-calendar color"></i> 1997 - 2000</span></h5>
                <h6><span class="fa fa-briefcase"></span> Secretaría de Vialidad  (State Traffic Department)</h6>
                <p></p>
            </li>


            <li>
                <h5>IT Support & Development  <span class="duration"><i class="fa fa-calendar color"></i> 1995 - 1997</span></h5>
                <h6><span class="fa fa-briefcase"></span> BLT Consultors</h6>
                <p></p>
            </li>


        </ul>
        <!-- /.attributes -->
        <br>
        
       
               <!-- /.attributes -->
        <br>  
        
         <!-- .title_content -->
         <div class="title_content" style="float: none;">
            <div class="text_content">Certificaciones y Diplomas </div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">

            <ul class="attributes">
                <li>
                    <h5>Diplomado en Tecnología Educativa<span class="duration"><i class="fa fa-calendar color"></i> 2021</span></h5>
                    <h6><span class="fa fa-briefcase"></span> UNIVES</h6>
                    <p></p>
                </li>
            </ul>

            <ul class="attributes">
                <li>
                    <h5>Certification Scrum Master Accredited<span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                    <h6><span class="fa fa-briefcase"></span>  Qualtop</h6>
                    <p></p>
                </li>
            </ul>

            <ul class="attributes">
                <li>
                    <h5>Data Science Professional Certificate<span class="duration"><i class="fa fa-calendar color"></i> 2020</span></h5>
                    <h6><span class="fa fa-briefcase"></span> IBM (Coursera)</h6>
                    <p></p>
                </li>
            </ul>


            <ul class="attributes">
                <li>
                    <h5>Software Design & Architecture <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Alberta University (Coursera)</h6>
                    <p></p>
                </li>
            </ul>

          
            <ul class="attributes">
                <li>
                    <h5>Executive Data Science<span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                    <h6><span class="fa fa-briefcase"></span> Hopkings University (Coursera)</h6>
                    <p></p>
                </li>
            </ul>

   


        </div>

        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  


</div>
<!-- End .resume -->