<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Skills </h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">


          <!-- .title_content -->
          <div class="title_content" style="float: none;">
            <div class="text_content">Languages and Frameworks</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Python (Django, Flask)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Groovy (Grails)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

               <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>C# (Asp Core / MVC)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
              <!-- .skillbar -->
              <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Java/Kotlin (Micronaut, Spring Boot)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

         
            <!-- /.skillbar -->
            
           
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>PHP (Laravel)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>


            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Móvil (React Native, Android)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
          
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>JavaScript (JQuery, ReactJS) </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>HTML5 / CSS (Bootstrap, HTML5, Flexbox)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>CMS (VuePress, Hugo, Jekyll )</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>            

            <!-- /.skillbar --> 
        </div>
        

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    

           <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">TI & Software</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>DevOps & Clouding (Kubernates, Docker, AWS, Azure )</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

             
               <!-- .skillbar -->
          <div class="skillbar clearfix " data-percent="95%">
            <div class="skillbar-title"><span>Databases (SQL Server, MySQL, PostgreSQL, Mongo, Hive)</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">95%</div>
        </div>

        
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>EA & Model (Archimate, UML, BPM)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Agile  ( Kanban, SCRUM, ICONIX  )</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->


            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>OS (Linux Centos/Debian)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Web Servers (NGINX, Tomcat, Apache, IIS)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>IoT (Arduino, Raspberry)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>         

               <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Data Science &  Big Data </div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
         
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Data Science (Pandas, Numpy, Matplotlib, Plotly, Seaborn, R )</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Machine Learning ( Scikit-Learn)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>


               <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Deep Learning  (Tensorflow/Keras)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
          

            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Big Data (PySpark, Hive, Hadoop)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

              
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>Dashboard (Superset, Dash, Tableau, Grafana)</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
            

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Notebooks (Jupyter, Zeppellin )</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span> Tools (SymPy, Scipy, Geogebra, Desmos ) </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>

      
            <!-- /.skillbar -->
        </div>

            <!-- /.skillbar -->
        </div>
       
        
       


          <!-- .title_content 
          <div class="title_content" style="float: none;">
            <div class="text_content">Engineering</div>
            <div class="clear"></div>
        </div>

        <div class="skills">
           

            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>IoT ( Raspberry, Node-RED, Arduino)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            
         

           
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Lean Six Sigma</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>

        </div>

        -->    

           
     
        
    </div>
    <!-- /.resume-left -->

    
</div>

<div style="clear: both"></div>  
  
  


</div>
<!-- End .resume -->