<!-- .resume -->
<div id="porfolio" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Courses & Diplomas </h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6 resume-left">

       
     <!-- .title_content -->
     <div class="title_content" style="float: none;">
        <div class="text_content">Certificaciones y Diplomas </div>
        <div class="clear"></div>
     </div>
     <!-- /.title_content -->
    
        <div>

        <ul class="attributes">
            <li class="first">
                <h5>Diplomado en Tecnología Educativa<span class="duration"><i class="fa fa-calendar color"></i> 2021</span></h5>
                <h6><span class="fa fa-briefcase"></span> UNIVES</h6>
                <p></p>
            </li>
        
            <li class="first">
                <h5>Certification Scrum Master Accredited<span class="duration"><i class="fa fa-calendar color"></i> 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span>  Qualtop</h6>
                <p></p>
            </li>
        
            <li class="first">
                <h5>Data Science Professional Certificate<span class="duration"><i class="fa fa-calendar color"></i> 2020</span></h5>
                <h6><span class="fa fa-briefcase"></span> IBM (Coursera)</h6>
                <p></p>
            </li>
        
            <li class="first">
                <h5>Software Design & Architecture <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> Alberta University (Coursera)</h6>
                <p></p>
            </li>
       
            <li class="first">
                <h5>Executive Data Science<span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Hopkings University (Coursera)</h6>
                <p></p>
            </li>

        </ul>

        </div>
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  

</div>
<!-- End .resume -->