<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile </h1>

<div class="row ">
    <div class="col-md-6 ">
 		
      

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Datos Personales </div>
            <div class="clear"></div>
        </div>

        
		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Iván Horacio Salcedo Velazco</span>
                <div class="clear"></div>
            </li>

            

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">March 21, 1973</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Guadalajaja, Jalisco, México</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">ivan.salcedo@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone /  Whatsapp</label>
                <span class="value">(+52) 33-2070-9067</span>
                <div class="clear"></div>
            </li>

         

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Last Grade</label>
                <span class="value">MSc Applied Data Science (2022)</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Experience</label>
                <span class="value">Since 1995 (27 years)</span>
                <div class="clear"></div>
            </li>


        </ul>

        <div class="title_content" style="float: none;">
            <div class="text_content">ABOUT ME</div>
            <div class="clear"></div>
        </div>

        <p style="margin-bottom:20px">
            <img src="assets/images/pic.jpg" style="width:80px; float: left; margin-right: 15px;margin-bottom: 15px;"> 
            IT Ingenieer that since 3 years began in data science and Clouding and find oportunity for colaborated in Canadá or EEUU with themes as STEAM, Convergent Technolgies, IoT, IA, BlockChain, BigData, etc. 
        </p>
        
    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 resume">


         <!-- .title_content -->
         <div class="title_content" style="float: none;">
            <div class="text_content">General skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Software & DevOps</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>

              <!-- .skillbar -->
              <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Clouding</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>


            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Data Science & IA</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>


            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Mathematics </span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>

                    <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                        <div class="skillbar-title"><span>Education</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
            </div>

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Fintech</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>



           
        </div>


        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">

            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Spanish (Native)</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
        
            <!-- /.skillbar -->
        </div>
        

    </div>

</div>



<div class="clear"></div>
</div>
<!-- End .profile -->